{% load static %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/select2.min.js' %}" defer></script>

<div class="card mb-3">
<div class="card-header">
    Selection
</div>

<div class="card-body">
    <form method="POST" class="post-form">
        {%csrf_token%}
        <!--{{form.as_table}}-->
        
        {% for field in form %}
        <tr><td>{{ field.label_tag }} {{field}}</td></tr> &nbsp;
        {% endfor %}

        <!--
        
            {% for field in form %}
            <tr><td>{{field}}</td></tr>
            {% endfor %}
        </table>
        -->
        <button type="submit" class="btn-primary" style="background-color:#13A2DC; border: none !important;">&nbsp;&nbsp; Submit &nbsp;&nbsp;</button>
    </form>
</div>
<div class="card-footer small text-muted">
    &middot; Race with the Machine: Tasks have experienced an increase in automation level, while the employment share for the tasks has increased from 2008 to 2020 </br>
    &middot; Race ahead of the Machine: Tasks have experienced a decrease in automation level, while the employment share for the tasks has increased from 2008 to 2020 </br>
    &middot; Changing the Course of the Race: Tasks were already highly automated in 2020, but have experienced a decrease in automation level, while the employment share for the tasks has decreased from 2008 to 2020 </br>
    &middot; Race against the Machine: Tasks have experienced an increase in automation level, while the employment share for the tasks has decreased from 2008 to 2020 </br>
    &middot; Running a Different Race: Tasks have experienced an increase in automation level, while the employment share for the tasks has remained relatively stable during 2008–2020 </br>
            
</div>
</div>

<style>
form {display:none;}    
#id_year{
    width: 250px;

}
@media only screen and (max-width: 750px) {
    #id_year {
        width: 30vw !important;
    }    
}
.select2{
    width: 300px;
}
@media only screen and (max-width: 750px) {
    .select2 {
        width: 50vw !important;
        font-size: small;
    }
    .select2-results__options{
        width: 50vw !important;
        font-size: small;        
    }
}  
</style>

<script>
    $(document).ready(function() {
        $('.autocomplete').select2();
        $('form').css("display","inline");   
    });       
</script>
