{% extends "visualize/layout.html" %}
{% block content %}


<div class="card mb-3">
<div class="card-header">
    Contact
</div>

<div class="card-body">
    <h6><strong><em>Jiyong Park</em></strong></h6>
    Terry College of Business, University of Georgia</br>
    Athens, Georgia, USA</br>
    jiyong.park@uga.edu <a href="mailto:jiyong.park@uga.edu?Subject=Job%20Automation%20Index" target="_top">[Send Email]</a>
    </br></br>
    <h6><strong><em>Jongho Kim</em></strong></h6>
    Samuel Curtis Johnson Graduate School of Management, Cornell University</br>
    Ithaca, NY, USA</br>
    jk2352@cornell.edu <a href="mailto:jk2352@cornell.edu?Subject=Job%20Automation%20Index" target="_top">[Send Email]</a>
</div>
</div>

{% endblock %}
