{% extends "visualize/layout.html" %}
{% block content %}


<div class="card mb-3">
<div class="card-header">
    Contact
</div>

<div class="card-body">
    <h6><strong><em>Jiyong Park</em></strong></h6>
    Bryan School of Business and Economics, University of North Carolina at Greensboro</br>
    Greensboro, NC, USA</br>
    jiyong.park@uncg.edu <a href="mailto:jiyong.park@uncg.edu?Subject=Job%20Automation%20Index" target="_top">[Send Email]</a>
    </br></br>
    <h6><strong><em>Jongho Kim</em></strong></h6>
    Samuel Curtis Johnson Graduate School of Management , Cornell Universit</br>
    Ithaca, NY, USA</br>
    jk2352@cornell.edu<a href="mailto:jk2352@cornell.edu?Subject=Job%20Automation%20Index" target="_top">[Send Email]</a>
</div>
</div>

{% endblock %}