{% load static %}
<div class="card mb-3" style="max-width: 1200px;">
<div class="card-body">
<h4 style="text-align: center;"><strong>Job Automation Index</strong></h4> </br>
<h5 style="text-align: center;"><i>The Race between Human Labor and Machines in the 21st Century</i></h5> </br>

<div class="row">
  <div class="col-lg-6">
      <div class="card shadow mb-4">
        <a href="/about/" class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">About</h6>
        </a>
          <div class="card-body">
              Learn more about the research project
          </div>
      </div>
      <div class="card shadow mb-4">
        <a href="/skill_dna/" class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Skill Network</h6>
        </a>
        <div class="card-body">
            Visualize an occupation’s skill requirements and skill-level susceptibility to automation during 2008-2020

            <div style="border: 1px solid rgb(232, 232, 232); border-radius: 4px; box-sizing: border-box; width: 100%;">
              <div id="iframe_wrapper" class="card-body" style="width: 100% overflow: hidden;">        
                <iframe id="iframe_page" src="http://www.jobautomationindex.com/skill_dna_view_mobile/" scrolling="no" width="100%" frameborder="0" tabindex="-1" allowfullscreen> </iframe>
             </div>
            </div>

        </div>
      </div>
  </div>

  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <a href="/automation_index/" class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Job Automation Index</h6>
      </a>
      <div class="card-body">
          Visualize an occupation’s relations to automation during 2008-2020
      </div>
    </div>
  
    <div class="card shadow mb-4">
      <a href="/automation_map/" class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Automation Map (U.S. Cities)</h6>
      </a>
      <div class="card-body">
          Visualize a city’s relations to automation in the United States during 2008-2020
          <div style="border: 1px solid rgb(232, 232, 232); border-radius: 4px; box-sizing: border-box; background-position: center; width: 100%; padding-top: 62.5%; background-size: cover; background-image: url(&quot;https://drive.google.com/uc?export=view&id=1sXSlkUBLqCEnrNOJ_TgixxIH1Lorr7X-&quot;);"></div>
      </div>
    </div>
  </div>
</div>

<!--<img src="{% static 'img/automation.png' %}" class="img-fluid"></br></br>-->
</div>
</div>

<style>        
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
</style>


<script>
  //https://stackoverflow.com/questions/35814138/dynamic-scaling-of-iframe-contents-as-frame-changes
  
  $(function() {
      $("#iframe_wrapper").each(function() {
          var $wrap = $(this);
          function iframeScaler(){
  
              var wrapWidth = $wrap.width(); // width of the wrapper
              var wrapHeight = $wrap.height();

              var childWidth = $wrap.children("iframe").width(); // width of child iframe
              var childHeight = $wrap.children("iframe").height(); // child height
              var wScale = wrapWidth / childWidth;
              var hScale = wrapHeight / childHeight;
              var scale = Math.min(wScale,hScale);  // get the lowest ratio
              $wrap.children("iframe").css({"transform": "scale("+scale+")", "transform-origin": "left top" });  // set scale
              
              $wrap.children("iframe").css({"height": childWidth});  // set scale
              $wrap.css({"height": childWidth}); // set scale
 
          };
          
          $(window).on("resize", iframeScaler);
          $(document).ready( iframeScaler);
      });
  });
  
  </script>

  
<!--Anxiety about automation is prevalent in this era of rapid technological advances, especially in artificial intelligence, machine learning, and robotics. Accordingly, how human labor compete or cooperate with the machine (often illustrated as the “race between human labor and machines”) has attracted a great deal of attention among the public, policymakers, and researchers. A full picture of automation and the future of work requires an understanding of not only technological change—to what extent a human task is automated—but also labor demand for occupations performing a task. Based on a data-driven approach, this project explores which tasks are more or less susceptible to automation in the past decade, with respect to (i) changes in degree of automation and (ii) changes in employment. As part of the project, this website provides the task-level automation indexes for representative occupations and U.S. cities during 2008-2020.<br><br>-->
<!--
<div class="row">
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">About</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/about/">
        <span class="float-left">Learn more about the research project</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">Job Automation Index</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/automation_index/">
        <span class="float-left">Visualize an occupation’s relations to automation during 2008-2020</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-danger o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">Skill Network</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/skill_dna/">
        <span class="float-left">Visualize an occupation’s skill requirements and skill-level susceptibility to automation during 2008-2020</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">Automation Map (U.S. Cities)</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/automation_map/">
        <span class="float-left">Visualize a city’s relations to automation in the United States during 2008-2020</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>        
</div>
-->