{% load static %}
<div class="card mb-3">
<div class="card-header">
    Selection
</div>

<div class="card-body">
    <form method="POST" class="post-form">
        {%csrf_token%}
        <!--{{form.as_table}}-->
        
        {% for field in form %}
        <tr><td>{{ field.label_tag }} {{field}}</td></tr> &nbsp;
        {% endfor %}

        <!--        
            {% for field in form %}
            <tr><td>{{field}}</td></tr>
            {% endfor %}
        </table>
        -->
        <button type="submit" class="btn-primary" style="background-color:#13A2DC; border: none !important;">&nbsp;&nbsp; Submit &nbsp;&nbsp;</button>
    </form>
</div>
</div>

<style>
li {
    display:inline !important;
    list-style-type: none;
    padding-right: 10px;    
}
</style>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script>
$(document).ready(function(){
    var occupation_button = $("#id_occupation"),
        parent_width = $(document).width()*0.5;
    $(window).on("resize", function() {
        if(parent_width > 300) {
            var occupation_targetWidth = 300;
        }
        else{
            var occupation_targetWidth = parent_width;
        }
        occupation_button.css('width',occupation_targetWidth);
    }).trigger("resize");
    var year_button = $("#id_year"),
        parent_width = $(document).width()*0.5;
    $(window).on("resize", function() {
        if(parent_width > 200) {
            var year_targetWidth = 200;
        }
        else{
            var year_targetWidth = parent_width;
        }
        year_button.css('width',year_targetWidth);
    }).trigger("resize");
});
</script>