{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<nav class="navbar navbar-expand navbar-dark bg-light static-top">

    <a class="navbar-brand mr-1" href="{% url 'visualize:index'%}">
        <img id="logo" class="img-fluid" style="width: 350px;" src="{% static "logo/logo_new.png" %}" />
    </a>

    <button class="btn btn-link btn-sm text-dark order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id='nav-about'>Contact</span>
                <style>
                    #nav-about {
                        color: #333333;
                    }
                    .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
                        color: #333333;
                    }
                </style>
            </a>
            
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pagesDropdown">
            <!--<a href="{% url 'visualize:about'%}" class="dropdown-item">About</a>-->
            <!--<a href="" class="dropdown-item">Github</a>-->
            <a id='nav-github' href="https://github.com/jonghkim/job-automation-index" class="dropdown-item">GitHub</a>
            <a id='nav-contact' href="{% url 'visualize:contact'%}" class="dropdown-item">Contact</a>
            </div>

        </li>
    </ul>

</nav>
<style>
#nav-about{
    font-size: 1em;
}
#nav-github{
    font-size: 0.95em;
}
#nav-contact{
    font-size: 0.95em;
}

@media only screen and (max-width: 750px) {
    #nav-about {
        font-size: 0.83em!important;
    }      
    #nav-github {
        font-size: 0.9em!important;
    }    
    #nav-contact {
        font-size: 0.9em!important;
    }                  
}
</style>

<script>
    if ($(window).width() > 750) {
       var element = document.getElementById('sidebarToggle');
       element.style.display = "none";
    }
</script>