{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<div class="card mb-3">
    <div class="card-header">
        Skill Network of {{ job }} 
        <script>
            if ("{{year}}"==="2008_2020"){
                document.write ( "(Change from 2008 to 2020)");
            } else {
                document.write ( "in {{year}}");
            }            
        </script> 
        (Click to zoom in tasks and skill components)
    </div>
    <!-- size of card -->
    <div id="iframe_wrapper" class="card-body" style="width: 400; height: 400; overflow: hidden;">        
        <iframe id="iframe_page" src="/skill_dna_view?year={{year}}&code={{code}}&job={{job}}" scrolling="no" width="100%" height="700px" frameborder="0" tabindex="-1" allowfullscreen> </iframe>
        <!--<iframe src="{% url 'visualize:skill_dna'%}" scrolling="no" width="100%" height="700px" frameborder="0" tabindex="-1" allowfullscreen></iframe>-->

    </div>

    <div class="card-footer small text-muted">
    The size of each skill is proportional to its importance to an occupation.</br></br>
    &middot; Race against the Machine: Routine Problem Solving, Information Processing, General Physical Task, Dynamic Physical Task</br>
    &middot; Race with the Machine: Interpersonal Task, Group Task, Conflict Resolution, Management and Supervision</br>
    &middot; Race ahead of the Machine: Communication, Systems Analysis, Creative and Critical Thinking</br>
    &middot; Running a Different Race: Equipment Maintenance, Vehicle and Equipment Operation, Machine Control, Hazardous Task</br>
    </div>
</div>


<script>
//https://stackoverflow.com/questions/35814138/dynamic-scaling-of-iframe-contents-as-frame-changes

$(function() {
    $("#iframe_wrapper").each(function() {
        var $wrap = $(this);
        function iframeScaler(){

            var wrapWidth = $wrap.width(); // width of the wrapper
            var wrapHeight = $wrap.height();

            if (wrapWidth < 400){
                if ($wrap.children("iframe").attr('src') != "/skill_dna_view_mobile?year={{year}}&code={{code}}&job={{job}}"){
                    $wrap.children("iframe").attr('src', "/skill_dna_view_mobile?year={{year}}&code={{code}}&job={{job}}");
                }
                
                //$wrap.children("iframe").css({"width": "1500px"});  // set scale

                var childWidth = $wrap.children("iframe").width(); // width of child iframe
                var childHeight = $wrap.children("iframe").height(); // child height
                var wScale = wrapWidth / childWidth;
                var hScale = wrapHeight / childHeight;
                var scale = Math.min(wScale,hScale);  // get the lowest ratio
                $wrap.children("iframe").css({"transform": "scale("+scale+")", "transform-origin": "left top" });  // set scale
                
                $wrap.children("iframe").css({"height": childWidth});  // set scale
                $wrap.css({"height": childWidth}); // set scale


            }else{
                if ($wrap.children("iframe").attr('src') != "/skill_dna_view?year={{year}}&code={{code}}&job={{job}}"){
                    $wrap.children("iframe").attr('src', "/skill_dna_view?year={{year}}&code={{code}}&job={{job}}");
                }                
                $wrap.children("iframe").css({"width": "100%"});  // set scale
                $wrap.children("iframe").css({"height": "730px"});  // set scale
                $wrap.css({"height": "750px"}); // set scale
                $wrap.children("iframe").css({"transform": "scale(1.0)", "transform-origin": "left top" });  // set scale
            }
        };
        
        $(window).on("resize", iframeScaler);
        $(document).ready( iframeScaler);
    });
});

</script>