{% load static %}

<div class="card mb-3">
<div class="card-header">
    Anatomy of Job Automation for {{job}}
    <script>
            if ("{{year}}"==="2008~2018"){
                document.write ( "(Change during 2008 and 2018)");
            } else {
                document.write ( "in {{year}}");
            }
    </script>    
</div>

<div class="card-body">
        <img src="data:image/png;base64,{{ task_importance|safe }}" class="img-fluid">
</div>
<div class="card-footer small text-muted">
    &middot; Race with the Machine: Tasks that have experienced in the increase in degree of automation but complemented labor demands during 2008-2018 </br>
    &middot; Race against the Machine: Tasks that have experienced in the increase in degree of automation and substituted labor demands during 2008-2018 </br>
    &middot; Race ahead of the Machine: Tasks that have experienced in the decrease in degree of automation and complemented labor demands during 2008-2018 </br>
    &middot; Running a Different Race: Tasks that are seemingly unrelated to labor demands during 2008-2018, regardless of changes in degree of automation </br>
    &middot; Changing the Course of a Race: Tasks that have experienced in the decrease in degree of automation but substituted labor demands during 2008-2018 </br>    
</div>
<!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
</div>

<style>        
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
</style>