{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />

<!-- ~EXPERIMENTAL~ Mapbox GL -->
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>

<!-- LOAD DEPENDENCIES -->
<script type="text/javascript" src="{% static 'libs/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/typeahead.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/leaflet-mapbox-gl.js' %}"></script>

<div class="card mb-3">
    <div class="card-header">
		Map of U.S. Cities for {{ relation_to_automation }} 
    </div>

    <!-- size of card -->
    <div class="card-body" style="width:400; height:400;">
        <!--
        <svg id="chart" width="400" height="400"
        viewBox="0 0 400 400"
        perserveAspectRatio="xMinYMid">
        </svg>
        -->

		<div id="job_dropdown" class='tilde-centered' style='font-size: 1.5vw; font-family: Arial, sans-serif; margin:0;'>
			<input class="typeahead" type="text" placeholder="Find a city...">
		</div>
        
		<div class='needle-wrapper'>
			<div id='map'></div>
			<div id='sub_wrapper'>
				<div id='needle'></div>

			</div>
		</div>
		<div class="card-footer small text-muted">
			The size of each city is proportional to employment. The darker-red color indicates higher degree of automation.
		</div>
    </div>

    <!--<div class="card-footer small text-muted">The size of each skill is proportional to its importance to an occupation. The darker-red color indicates higher degree of automation.</div>-->

	<script type="text/javascript" src="{% static 'mods/tilde.js' %}"></script>
	<script type="text/javascript" src="{% static 'mods/starters.js' %}"></script>
	<script type="text/javascript" src="/static/data/map/{{year|safe}}_{{relation_to_automation|safe}}.js"></script>
	<script type="text/javascript" src="{% static 'mods/query.js' %}"></script>
	<script type="text/javascript" src="{% static 'mods/city_typeahead.js' %}"></script>
	<script type="text/javascript" src="{% static 'mods/frame.js' %}"></script>
	
	{% if year == "2018" %}
		<script type="text/javascript" src="{% static 'mods/draw_large_scale.js' %}"></script>
		{% if relation_to_automation == "Running a Different Race" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_19.js' %}"> </script>
		{% elif relation_to_automation == "Race with the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_10.js' %}"> </script>
		{% elif relation_to_automation == "Race ahead of the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_5.js' %}"> </script>
		{% elif relation_to_automation == "Race against the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_13.js' %}"> </script>
		{% elif relation_to_automation == "Changing the Course of a Race" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_5.js' %}"> </script>									
		{% endif %}	
	{% endif %}
	{% if year == "2008" %}
		<script type="text/javascript" src="{% static 'mods/draw_large_scale.js' %}"></script>
		{% if relation_to_automation == "Running a Different Race" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_19.js' %}"> </script>
		{% elif relation_to_automation == "Race with the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_10.js' %}"> </script>
		{% elif relation_to_automation == "Race ahead of the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_5.js' %}"> </script>
		{% elif relation_to_automation == "Race against the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_13.js' %}"> </script>
		{% elif relation_to_automation == "Changing the Course of a Race" %}
			<script type="text/javascript" src="{% static 'mods/map_large_scale_5.js' %}"> </script>							
		{% endif %}	
	{% endif %}	
	{% if year == "2008~2018" %}
		<script type="text/javascript" src="{% static 'mods/draw_small_scale.js' %}"></script>
		{% if relation_to_automation == "Running a Different Race" %}
			<script type="text/javascript" src="{% static 'mods/map_small_scale.js' %}"> </script>
		{% elif relation_to_automation == "Race with the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_small_scale.js' %}"> </script>
		{% elif relation_to_automation == "Race ahead of the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_small_scale.js' %}"> </script>
		{% elif relation_to_automation == "Race against the Machine" %}
			<script type="text/javascript" src="{% static 'mods/map_small_scale.js' %}"> </script>
		{% elif relation_to_automation == "Changing the Course of a Race" %}
		<script type="text/javascript" src="{% static 'mods/map_small_scale.js' %}"> </script>			
		{% endif %}			
	{% endif %}


</div>

<style>
#job_dropdown{
	font-size: 1.5vw;

}    

@media only screen and (max-width: 750px) {
	#job_dropdown {
		font-size: 7vw!important;
	}        
	.leaflet-popup-content{
		width: 40vw!important;
	}
	.leaflet-popup-content h3, .h3 {
		font-size:1.25em!important;
	}
}
/*
#needle > svg > g {
		transform: none!important;
		transform: translate(50%, 50%)!important;
	}
#needle_annotation > svg > g {
	transform: none!important;
	transform: translate(50%, 50%)!important;	
}	
*/

</style>