{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Sidebar -->
<ul class="sidebar navbar-nav" id="sidebar-color">

<li id="about" class="nav-item">
    <a class="nav-link" href="{% url 'visualize:about'%}">
    <span class="sidebar-span-dark" style="color:black;">About</span>
    </a>
</li> 

<li id="anatomy_nav" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sidebar-span-dark">Job Automation Index</span>
</a>
<div id="anatomy_menu" class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">

    <a class="dropdown-item" href="{% url 'visualize:automation_index'%}">
        <i class="fas fa-fw fa-chart-line" style="color:black"></i>
        Job Automation Index
    </a>
    <!--
    <a class="dropdown-item" href="{% url 'visualize:automation_ranking'%}">
        <i class="fas fa-fw fa-chart-bar" style="color:black"></i>
        Job Automation Ranking
        </a>
    </a>
    -->
    <a class="dropdown-item" href="{% url 'visualize:skill_network'%}">
        <i class="fas fa-fw fa-dna" style="color:black"></i>
        Skill Network
    </a>
    <a class="dropdown-item" href="{% url 'visualize:job_automation'%}">
        <i class="fas fa-fw fa-table" style="color:black"></i>
        Task-Level Job Automation
    </a>
</div>
</li>

<li id="geo_nav" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sidebar-span-dark">City Automation Index</span>
</a>
<div id="geo_menu" class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">

    <a class="dropdown-item" href="{% url 'visualize:automation_map'%}">
        <i class="fas fa-fw fa-globe-americas" style="color:black"></i>
        Automation Map (U.S. Cities)
    </a>
    <a class="dropdown-item" href="{% url 'visualize:city_automation'%}">
        <i class="fas fa-fw fa-table" style="color:black"></i>
        Task-Level City Automation
    </a>
</div>
</li>


<li id="info_nav" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sidebar-span-dark">Further Information</span>
</a>
        
<div id="info_menu" class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">

    <a href="https://cacm.acm.org/magazines/2022/5/260356-a-data-driven-exploration-of-the-race-between-human-labor-and-machines-in-the-21st-century/fulltext" class="dropdown-item">
        <i class="fas fa-fw fa-copy" style="color:black"></i>
        Paper
    </a>        
    
    <a href="https://github.com/jonghkim/job-automation-index" class="dropdown-item">
        <i class="fab fa-fw fa-github" style="color:black"></i>
        GitHub
    </a>

    <a href="{% url 'visualize:contact'%}" class="dropdown-item">
        <i class="fas fa-fw fa-id-card" style="color:black"></i>            
        Contact
    </a>

</div>
</li>
        

</ul>

<style>
    #sidebar-color {
        background-color: #E5E6E7;
    }
    .sidebar-span-dark {
        color: black;
    }
    .sidebar-span-dark:hover{
        color: #13A2DC;
    }    
</style>


<style>
#about{
    font-size: 1em;
}
#anatomy_nav{
    font-size: 1em;
}
#anatomy_menu{
    font-size: 0.95em;
}
#geo_nav{
    font-size: 1em;
}
#geo_menu{
    font-size: 0.95em;
}
#info_nav{
    font-size: 1em;
}
#info_menu{
    font-size: 0.95em;
}


@media only screen and (max-width: 750px) {
    #about {
        font-size: 0.75em!important;
    }        
    #anatomy_nav {
        font-size: 0.75em!important;
    }    
    #anatomy_menu {
        font-size: 0.9em!important;
    }    
    #geo_nav {
        font-size: 0.75em!important;
    }    
    #geo_menu {
        font-size: 0.9em!important;
    }     
    #info_nav{
        font-size: 0.75em!important;
    }
    #info_menu{
        font-size: 0.9em!important;
    }           
}
</style>

<script>

if ($(window).width() > 750) {
    var element = document.getElementById('anatomy_nav');
    element.classList.add('show');
    var element = document.getElementById('anatomy_menu');
    element.classList.add('show');
    var element = document.getElementById('geo_nav');
    element.classList.add('show');
    var element = document.getElementById('geo_menu');
    element.classList.add('show');
    var element = document.getElementById('info_nav');
    element.classList.add('show');
    var element = document.getElementById('info_menu');
    element.classList.add('show');  
}
</script>