{% load static %}
<div class="card mb-3">
<div class="card-header">
    Selection
</div>

<div class="card-body">
    <form method="POST" class="post-form">
        {%csrf_token%}
        <!--{{form.as_table}}-->
        
        {% for field in form %}
        <tr><td>{{ field.label_tag }} {{field}}</td></tr> &nbsp;
        {% endfor %}

        <!--        
            {% for field in form %}
            <tr><td>{{field}}</td></tr>
            {% endfor %}
        </table>
        -->
        <button type="submit" class="btn-primary" style="background-color:#13A2DC; border: none !important;">&nbsp;&nbsp; Submit &nbsp;&nbsp;</button>
    </form>
</div>
</div>

<style>
li {
    display:inline !important;
    list-style-type: none;
    padding-right: 10px;    
}
</style>

<style>
#id_occupation{
    width: 300px;

}    
#id_year{
    width: 200px;

}
@media only screen and (max-width: 750px) {
    #id_occupation {
        width: 30vw !important;
    }        
    #id_year {
        width: 20vw !important;
    }    
}
</style>